.App {
  font-family: sans-serif;
  text-align: center;
}

.cart {
  color: #fff;
  float: right;
  display: absolute;
  background-color: #333;
  padding: 8px;
  border-radius: 8px;
  border: ipx solid #ccc;
}

