.App {
  font-family: sans-serif;
  text-align: center;
}

.cart {
  color: #fff;
  float: right;
  display: absolute;
  background-color: #333;
  padding: 8px;
  border-radius: 8px;
  border: ipx solid #ccc;
}

body {
  background-color: #f8f8f8;
}

.cartStyles {
  margin-bottom: 10px;
}

.tablecart {
  background-color: #ccc;
}

.cart-input-with {
  width: 100px;
}

.colTotal {
  float: right;
}

.card-body {
  text-align: center;
}

.link-d{
  color: #f8f8f8;
}
